
@{
    ViewBag.Title = "Index";
}

<h2>Auto complete textbox</h2>

<div class="form-group">
    Tên ngành
    <input type="text" name="name" value="" class="form-control"/>
</div>
<div class="col-sm-12">
    Mã Ngành
    <input type="text" name="name" value="" class="form-control" id="txtMaNganh"/>
</div>
<button class="form-control" id="btnTest">Test</button>
@section scripts{
    
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtMaNganh").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAutoText", "AutoCompleteTextBox")',
                    dataType: "json",
                    data: {
                        maNganh: $("#txtMaNganh").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.TenNganh, value: item.id };
                        }));
                    }
                });
            },
            
        });
    });
    $("#btnTest").off('click').on('click', function () {
        var obj = $("txtMaNganh");
    });
</script>

}
