@{
    ViewBag.Title = "Upload";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>

<div>
    @Html.TextBox("Chọn file", null, new { type = "file", id = "fileUpload", multiple = "multiple" })

    <button type="button" id="btnUpload">
        Upload file
    </button>
    <span id="upload-progress"></span>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnUpload').on('click', function () {
                var file = $('#fileUpload').get(0).files;
                var formData = new FormData();
                var url = "/UploadFile/UploadFile";

                for (var i = 0; i < $('#fileUpload').get(0).files.length; ++i) {
                    formData.append("file", $('#fileUpload').get(0).files[i]);
                    //formData.append("uploadFiles", $('#fileUpload').get(0).files[i]);
                }

                //formData.append("uploadFiles", file);

                $.ajax
                (
                    {
                        url: url,
                        type: 'post',
                        cache: false,
                        data: formData,
                        // Tell jQuery not to process data or worry about content-type
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            alert(data.Message);
                        },
                        xhr: function () {
                            var myXhr = $.ajaxSettings.xhr();
                            if (myXhr.upload) {
                                myXhr.upload.addEventListener('progress', function (e) {
                                    if (e.lengthComputable) {
                                        $('progress').attr({
                                            value: e.loaded,
                                            max: e.total,
                                        });
                                        var uploadProgress = e.loaded / e.total * 100;
                                        $('#upload-progress').html("Uploading: " + uploadProgress);
                                    }
                                }, false);
                            }

                            return myXhr;
                        }
                    }
                )
            })
        });
    </script>
}
